/* body{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
div{
    height: 100px;
    width: 100px;
    background-color: rgb(9, 126, 216);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}