body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}
.my-div{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border: 2px solid black;
}